<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/email.css' %}">
  </head>
  <body>
    {% block body %}
    <!-- {% if messages %}
    <div class="message">
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} -->

    
    {% block content %}
    {% endblock %}
    <div class="main-menu">
      <!-- <strong>Menu</strong> -->
      <ul>
        {% if user.is_authenticated %}
      <!-- <div class="login-sign">
        <li class="change-email"><a href="{% url 'account_email' %}">Change E-mail</a></li> 
        <li class="log-out"><a href="{% url 'account_logout' %}">Sign Out</a></li>
      </div>  -->
        {% else %} 
        <!-- <div class="sign">
        <li><a class="sign-in" href="{% url 'account_login' %}">Sign In</a></li>
        <li><a class="sign-up"  href="{% url 'account_signup' %}">Sign Up</a></li>
        </div> -->
        {% endif %}
      </ul>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
