<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% block title_page %}
{% endblock %}
{% load static %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="TemplateMo">
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <title>Education Meeting HTML5 Template</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards.css' %}">
        <link rel="stylesheet" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" href="{% static 'css/room.css' %}">
        <link rel="stylesheet" href="{% static 'css/room-chat.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards-animation.css' %}">
        <link rel="stylesheet" href="{% static 'css/workers.css' %}">
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}">


  

     </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <em>HTML CSS</em></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          Ordo
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li><a href="/">Home</a></li>
                          <li><a href="{% url 'about' %}">About us</a></li>
                          <!-- <li class="scroll-to-section"><a href="#apply">Wiki</a></li> -->
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'meetings' %}">Meetings</a></li>
                                  <li><a href="{% url 'wiki' %}">Wikipedia</a></li>
                                  <li><a href="{% url 'meetings' %}">Upcoming Meetings</a></li>
                                  <li><a href="{% url 'meeting-details' %}">Meeting Details</a></li>
                              </ul>
                          </li>
                        
                          <!-- <li class="scroll-to-section"><a href="{% url 'about' %}">About us</a></li>  -->
                          <!-- Вход и выход -->
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'forum-home' %}">Forum</a></li>
                            <li><a href="{% url 'account_logout' %}">Выход</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">Вход</a></li>
                            <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                            {% endif %}
                            <!-- Вход и выход -->
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
  {% block content %}
  {% endblock %}
  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
        <br>Design: <a href="/" target="_parent" title="Rahimovsaga@g,ail.com">IT specialist</a></p>
  </div>
</section>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/video.js' %}"></script>
  <script src="{% static 'js/slick-slider.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos },
          800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
  </script>
  <script>let cardElement = document.querySelector(".card-calendar");

    cardElement.addEventListener("click", flip);
    
    function flip(){
      cardElement.classList.toggle("flipped")
    }
    
    function startTime() {
        var weekday = new Array();
        weekday[0] =  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var d = today.getDate();
        var y = today.getFullYear();
        var wd = weekday[today.getDay()];
        var mt = month[today.getMonth()];
      
        m = checkTime(m);
        s = checkTime(s);
                        document.getElementById('date').innerHTML =
        d;
     document.getElementById('day').innerHTML =
        wd;
     document.getElementById('month').innerHTML =
        mt + "/" + y;
        
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};
        return i;
    }
    </script>
</body>

</body>
</html>