/* body {
  margin: 0;
  background-color: #010712;
  background-image: url(https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
} */
.container-calendar {
  width: 400px;
  height: 200px;
  position: inherit;
  perspective: 1000;
  -webkit-perspective: 1000;
  left: calc(50% - 200px);
  top: calc(50vh - 100px);
}
.card-calendar {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer;
}
.back,
.front {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.contentfront {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.contentback {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.back {
  transform: rotateY(180deg);
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  text-transform: uppercase;
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.dates {
  height: 100%;
  width: 130px;
  float: left;
  background-color: #c52929;
  border-radius: 0 6px 6px 0;
  text-align: right;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.datecont {
  height: 100%;
  transform: translatez(60px) scale(0.9);
  -webkit-transform: translatez(60px) scale(0.9);
  color: #ffffff;
  font-size: 30px;
}
#dates {
  font-size: 50px;
  color: #ecece7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  float: right;
}
#day {
  float: right;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#month {
  float: right;
  font-size: 10px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;
}
.dates i {
  color: #ecece7;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.dates i:hover {
  color: #ffffff;
  transition: 0.3s ease;
}
.month {
  height: 100%;
  width: 270px;
  float: left;
  padding: 20px 30px;
  box-sizing: border-box;
}
.month table {
  width: 100%;
}
.orangeTr {
  color: #c52929;
}
.whiteTr {
  color: #ecece7;
}
.whiteTr th:hover {
  color: #c52929;
  transition: 0.3s ease;
}
.month tr {
  height: 24px;
}
.month th {
  width: 14%;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.flipped {
  transform: rotateY(-180deg);
  /*height:400px;
    width:200px;
    left:calc(50% - 100px);
    top:calc(50vh - 200px);*/
}
.backcontainer-calendar {
  transform-style: preserve-3d;
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  /*transform:translatez(60px) scale();*/

  background-color: #c52929;
  border-radius: 6px;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
