body {
  font-family: "Poppins", sans-serif;
}
.contact-form {
  max-width: 420px;
  margin: auto;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-color: #a12c2f;
  margin-top: -150px;
}
.contact_ {
  margin-left: 46px;
}

.feedback {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 13px;
  width: 90%;
  box-sizing: border-box;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.feedback:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
.contact-form h1 {
  margin-left: 63px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 17px;
  color: #fff;
}
.button {
  width: 90%;
  margin-top: 53px;
  border-radius: 20px;
  background-color: #a12c2f;
  color: #fff;
  margin-left: auto;
  height: 10%;
  font-size: 15px;
  padding: 5px;
}
.button:hover {
  background-color: #979797c7;
  transition: 0.5s ease;
}
