body {
  font-family: "Poppins", sans-serif;
}
.contact-form {
  margin: auto;
  width: 45%;
  height: 270px;
  border-radius: 20px;
  background-color: #a12c2f;
  margin-top: 0px;
}

.feedback {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 13px;
  width: 90%;
  box-sizing: border-box;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.feedback:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
.contact-form h1 {
  font-size: 25px;
  position: static;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.button {
  width: 100%;
  margin-top: 40px;
  border-radius: 20px;
  background-color: #a12c2f;
  color: #fff;
  margin-left: -2px;
  height: 13%;
  font-size: 15px;
  padding: 0px;
}
.button:hover {
  background-color: #979797c7;
  transition: 0.5s ease;
}
@media (max-width: 780px) {
  .contact-form {
    max-width: 436px;
    margin: auto;
    width: 85%;
    height: 300px;
    border-radius: 20px;
    background-color: #a12c2f;
    margin-top: 0px;
  }
  .button {
    margin-top: 80px;
  }
}
