.content-email {
  display: table;
  margin-left: auto;
  margin-right: auto;
  background: #00000024;
  border-radius: 10px;
  margin-top: 35px;
  padding: 10px;
  width: 38%;
}
.form-action {
  border-radius: 10px;
  padding: 10px 100px 10px 100px;
}

p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: left;
}
.buttonHolder {
  display: grid;
  margin-left: 55px;
  margin-bottom: -30px;
}
.primaryAction-email:hover {
  color: #eee;
  background-color: rgb(53, 112, 163);
}
.ctrlHolder {
  text-align: center;
  margin-bottom: 60px;
}
.primaryAction-email {
  margin-top: -30px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  height: 35px;
  width: 300px;
}
.email_list {
  border: none;
  border-radius: 10px;
}
.add-email {
  height: 28px;
  width: 100px;
  color: #eee;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  margin-left: 185px;
  margin-right: 185px;
}
.add-email:hover {
  cursor: pointer;
  background-color: rgb(53, 112, 163);
}
.password-reset {
  border-radius: 10px;
  margin-top: 35px;
  padding: 10px;
  width: 300px;
  background: #1f272b;
  margin-left: auto;
  margin-right: auto;
}
.input-submit {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  color: #eee;
  background-color: #4caf50;
}
.input-submit:hover {
  background-color: rgb(53, 112, 163);
}
.done {
  margin-top: 60px;
  width: 50%;

  padding: 5px 15px 15px 15px;
  margin-right: auto;
  font-size: 15px;
  margin-left: auto;
  text-align: center;
  background: #00000024;
  border-radius: 7px;
}
.colorit {
}
