* {
  font-family: system-ui;
}
body {
  margin-bottom: 50px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.container {
  height: 550px;
  width: 350px;
  margin-bottom: auto;
  background: #1f272b;
  position: relative;
  display: table;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
h1 {
  text-align: center;
  color: #eee;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
input {
  border-radius: 4px;
  border: none;
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: -7;
}
.regist {
  text-align: center;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: #eee;
  font-size: 13px;
}

.button {
  background-color: #9d1a1d;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 7px;
}
.button:hover {
  background: #6d6d6d5d;
  transition: 0.5s ease;
  color: #eee;
}
.primaryAction-email {
  background-color: #9d1a1d;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 30px;
  margin-bottom: 40px;
}
.primaryAction1 {
  background-color: #9d1a1d;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 107px;
}
.primaryAction {
  background-color: #9d1a1d;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-left: 25px;
}
.primaryAction:hover {
  background: #6d6d6d5d;
  cursor: pointer;
  transition: 0.5s ease;
}
.primaryAction1:hover {
  background: #6d6d6d5d;
  transition: 0.5s ease;
  cursor: pointer;
}
.remember {
  margin-right: 100px;
}
.container1 {
  height: 450px;
  width: 350px;
  margin-top: 100px;
  margin-bottom: auto;
  background: #1f272b;
  position: relative;
  display: table;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
}
ul {
  height: 80px;
  width: 250px;
  margin-top: -40px;
  margin-bottom: auto;
  background: #00000024;
  position: relative;
  display: contents;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
li {
  list-style-type: none;
  color: #eee;
  margin-top: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 5px 10px 5px;
}

.sign {
  list-style-type: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 137px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 25px;
}
.regist {
  margin-bottom: 45px;
}
.sign-in {
  display: table;
  background-color: #4caf50;
  margin-left: -92px;
  border-radius: 5px;
  padding: 10px 20px 10px;
  color: #fff;
  margin-top: -24px;
}
.sign-in:hover {
  color: #eee;
  cursor: pointer;
  background-color: rgb(53, 112, 163);
}
.sign-up {
  display: table;
  background-color: #4caf50;
  margin-left: auto;
  margin-right: -100px;
  border-radius: 5px;
  padding: 10px 20px 10px;
  color: #fff;
  margin-top: -61px;
}
.sign-up:hover {
  color: #eee;
  cursor: pointer;
  background-color: rgb(53, 112, 163);
}
.logout {
  height: 150px;
  width: 300px;
  background: #1f272b;
  display: block;
  justify-content: center;
  flex-direction: column;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.logout h1 {
  margin-top: 10px;
}
/* .log-out {
  height: 30px;
  width: 96px;
  margin-top: auto;
  margin-bottom: auto;
  background: #00000024;
  position: relative;
  display: table;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px 0px 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #4caf50;
  cursor: pointer;
} */
/* .log-out:hover {
  background-color: rgb(53, 112, 163);
} */
/* .log-out a {
  margin-top: 2px;
  margin-left: 24px;
  color: #eee;
  cursor: pointer;
} */
/* .change-email {
  height: 33px;
  width: 90px;
  margin-top: auto;
  margin-bottom: auto;
  background: #00000024;
  display: table;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  background-color: #4caf50;
} */
/* .change-email {
  display: table;
  color: #eee;
} */
/* .change-email:hover {
  background-color: rgb(53, 112, 163);
} */
.message {
  height: 100px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #00000024;
  position: relative;
  display: table;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  color: #eee;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  text-align: center;
}
.btn1 {
  border: none;
  margin-left: 72px;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  color: #eee;
  background-color: #9d1a1d;
}
.btn1:hover {
  background-color: #545454;
  transition: 0.5s ease;
  color: #eee;
  cursor: pointer;
}
p {
  color: #eee;
  text-align: center;
}
.ctrlHolder {
  color: #eee;
}
h2 {
  color: #eee;
  text-align: center;
}
/* .socialaccount_ballot {
  background-color: #9d1a1d;
  color: white;
  width: 35%;
  height: 33px;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
} */

.socialaccount_ballot li :hover {
  background: #6d6d6d5d;
  transition: 0.3s ease;
}
.socialaccount_providers {
  background-color: #4caf50;
}
.bitton {
  font-size: 16px;
  color: #4267b2;
}
.login-sign {
  width: 30%;
  height: 18px;
  background-color: #4267b2;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.login-sign li {
  justify-content: space-between;
  display: contents;
  padding: 10px;
  margin: 40px;
}
.botton {
  margin-top: 250px;
  background-color: #545454;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: table;
  font-size: 16px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.botton :hover {
  background: #6d6d6d5d;
  transition: 0.5s ease;
}

.socialaccount_ballot li a {
  background-color: #2c4987;
  color: white;
  width: 100%;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 0px;
  margin-bottom: -9px;
  margin-top: 0px;
  padding: 10px 5px 2px 0px;
}
