.container11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
  background-color: #9d1a1d;
  color: #fff;
  margin-top: 90px;
  border-radius: 20px;
}
input {
  margin: 10px -25px 5px -25px;
  border-radius: 7px;
  border: none;
  padding: 4px;
}
label {
  margin-top: 5px;
  margin-left: -25px;
}
.main-ordo h2 {
  margin-top: 10px;
  padding: 12px 0px 0px 0px;
  text-align: center;
}
form {
  width: 300px;
  height: 50px;
  display: grid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-chat {
  margin-top: 25px;
  background-color: black;
  color: aliceblue;
  border: none;
  border-radius: 7px;
}
.submit-chat:hover {
  background-color: #545454;
}
@media (max-width: 700px) {
  .container11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 385px;
    height: 300px;
    background-color: #9d1a1d;
    margin-top: 90px;
    border-radius: 20px;
  }
  .main-ordo h2 {
    margin-top: 10px;
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
}
