.all-items {
  padding: 5px 20px;
  width: 45%;
  height: 36%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.display77 {
  margin-top: 100px;
  border-radius: 15px;
  width: 100%;
  height: 350px;
  display: block;
  background-color: #1e4783;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
}
.display77 b {
  color: black;
  font-weight: 600;
}
.container77 {
  background-color: #001f3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  height: 75px;
  display: block;
  margin: 10px 0;
}
.container77 form {
  width: 100%;
}
.darker {
  border-color: #001f3f;
  background-color: #41a8f6;
  width: 100%;
  display: block;
  overflow: scroll;
  height: 100px;
}

.darker p {
  color: #fff;
  font-size: 19px;
}
.darker b {
  color: #f1f1f1;
  text-transform: uppercase;
}
span.time-left {
  color: #dddddd;
  font-size: 13px;
}

.container77::after {
  content: "";
  clear: both;
  display: table;
}

.container77 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container77 img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

input[type="text"],
select {
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: block;
}
input[type="submit"] {
  background-color: #1f272b;
  color: #fff;
  padding: 0px 10px 0px 10px;
  border: none;
  width: 150px;
  font-size: 14px;
  margin-top: 30px;
  height: 30px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
}
input[type="submit"]:hover {
  background-color: #eee; /* Green */
  color: rgb(0, 0, 0);
}
