@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container21 {
  position: relative;
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: initial;
}

.container21 .card21 {
  position: relative;
  width: 300px;
  height: 225px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container21 .card21:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b11314;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container21 .card21:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container21 .card21:after {
  content: "Tom Holland";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 5, 5, 0.05);
}

.container21 .card21 .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(70%);
  z-index: 10000;
  width: 100%;
  height: 305px;
  transition: 1s;
}

.container21 .card21:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container21 .card21 .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-0deg);
  width: 220px;
}

.container21 .card21 .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.9s;
  z-index: 10;
}

.container21 .card21:hover .contentBx {
  height: 170px;
}

.container21 .card21 .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  margin-top: 35px;
}

.container21 .card21 .contentBx .size,
.container21 .card21 .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container21 .card21:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container21 .card21:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container21 .card21 .contentBx .size h3,
.container21 .card21 .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container21 .card21 .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container21 .card21 .contentBx .size span:hover {
  background: #9bdc28;
}

.container21 .card21 .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container21 .card21 .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container21 .card21.contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container21 .card21 .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container21 .card21 .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container21 .card21:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
.workers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .container21 .card21 {
    position: relative;
    width: 273px;
    height: 200px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }
  .container21 .card21 .imgBx img {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-0deg);
    width: 200px;
  }
  .container21 .card21 .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 20px;
    margin-top: 67px;
  }
  .container21 .card21 .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(70%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 1.2s;
  }
  .container21 .card21 .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 20px;
    margin-top: 0px;
  }
}
#preloader {
  background: #000 url("/static/images/loader/gif") no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* #loader */

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.logos {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logos a {
  text-decoration: none;
  font-size: 30px;
  font-family: bignoodletitling;
  color: #fff;
  letter-spacing: 5px;
}
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.content-area {
  width: 100%;
  position: relative;
  top: 450px;
  background: #ebebeb;
  height: 1500px;
}
.content-area h2 {
  font-family: bignoodletitling;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
}

.content-area p {
  padding: 2% 0px;
  font-family: merienda;
  line-height: 30px;
}
